{% extends 'base_layout.html' %}

{% block body %}


    <body style="background-color: #486D87;">
        <div class="jumbotron text-center" style="background-color: #FFB838;">
            <h1>About me</h1>
            <!-- <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
            
            <h3>Klittiya Suwanmalai</h3>
    
            <h4>ID: 62102010161</h4>

            <!-- <br>
            <img src="https://i.imgur.com/NYpWVeS.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="304"> -->
        </div>

    </body>

{% endblock %}